
*.vsidx
*.vsidx
/CookBook/.vs
/CookBook/.vs/CookBook/DesignTimeBuild
/CookBook/.vs/CookBook
/CookBook/.vs
/CookBook/CookBook.Core/bin
/CookBook/CookBook.Core/obj
/CookBook/CookBook.Core/obj
/CookBook/CookBook.Infrastructures/bin
/CookBook/CookBook.Infrastructures/obj
/CookBook/CookBook.UnitTest/bin
/CookBook/CookBook.UnitTest/bin
/CookBook/CookBook.UnitTest/bin
/CookBook/CookBook.UnitTest/bin/Debug
/CookBook/CookBook.UnitTest/bin/Debug/net6.0
/CookBook/CookBook.UnitTests/bin
/CookBook/CookBook/obj
/CookBook/.vs/CookBook/DesignTimeBuild
/CookBook/.vs/CookBook/DesignTimeBuild
/CookBook/.vs/CookBook/v17
/CookBook/.vs/CookBook/v17
/CookBook/CookBook.Core/bin
/CookBook/CookBook.Core/bin/Debug
/CookBook/CookBook.Core/bin/Debug/net6.0
/CookBook/CookBook.Core/bin
/CookBook/CookBook.Core/obj
/CookBook/.vs/CookBook/DesignTimeBuild
/CookBook/.vs/CookBook
/CookBook/.vs
/CookBook/.vs
/CookBook/CookBook.UnitTests/obj
/CookBook/CookBook.UnitTests/obj
