CookBook/.vs/CookBook/DesignTimeBuild/.dtbcache.v2
CookBook/.vs/CookBook/v17/.futdcache.v2
CookBook/.vs/CookBook/v17/.suo
CookBook/CookBook.Core/obj/CookBook.Core.csproj.nuget.dgspec.json
CookBook/CookBook.Core/obj/CookBook.Core.csproj.nuget.g.props
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.AssemblyInfo.cs
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.AssemblyInfoInputs.cache
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.assets.cache
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.csproj.AssemblyReference.cache
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook.Core/obj/project.assets.json
CookBook/CookBook.Core/obj/project.nuget.cache
CookBook/CookBook.Infrastructures/obj/CookBook.Infrastructures.csproj.nuget.dgspec.json
CookBook/CookBook.Infrastructures/obj/CookBook.Infrastructures.csproj.nuget.g.props
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.AssemblyInfo.cs
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.AssemblyInfoInputs.cache
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.assets.cache
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.csproj.AssemblyReference.cache
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook.Infrastructures/obj/project.assets.json
CookBook/CookBook.Infrastructures/obj/project.nuget.cache
CookBook/CookBook.UnitTests/obj/CookBook.UnitTests.csproj.nuget.dgspec.json
CookBook/CookBook.UnitTests/obj/CookBook.UnitTests.csproj.nuget.g.props
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.AssemblyInfo.cs
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.AssemblyInfoInputs.cache
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.assets.cache
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.csproj.AssemblyReference.cache
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook.UnitTests/obj/project.assets.json
CookBook/CookBook.UnitTests/obj/project.nuget.cache
CookBook/CookBook/obj/CookBook.csproj.nuget.dgspec.json
CookBook/CookBook/obj/CookBook.csproj.nuget.g.props
CookBook/CookBook/obj/Debug/net6.0/apphost.exe
CookBook/CookBook/obj/Debug/net6.0/CookBook.AssemblyInfo.cs
CookBook/CookBook/obj/Debug/net6.0/CookBook.AssemblyInfoInputs.cache
CookBook/CookBook/obj/Debug/net6.0/CookBook.assets.cache
CookBook/CookBook/obj/Debug/net6.0/CookBook.csproj.AssemblyReference.cache
CookBook/CookBook/obj/Debug/net6.0/CookBook.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook/obj/project.assets.json
CookBook/CookBook/obj/project.nuget.cache
CookBook/.vs/CookBook/DesignTimeBuild/.dtbcache.v2
CookBook/.vs/CookBook/v17/.futdcache.v2
CookBook/.vs/CookBook/v17/.suo
CookBook/CookBook.Core/obj/CookBook.Core.csproj.nuget.dgspec.json
CookBook/CookBook.Core/obj/CookBook.Core.csproj.nuget.g.props
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.AssemblyInfo.cs
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.AssemblyInfoInputs.cache
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.assets.cache
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.csproj.AssemblyReference.cache
CookBook/CookBook.Core/obj/Debug/net6.0/CookBook.Core.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook.Core/obj/project.assets.json
CookBook/CookBook.Core/obj/project.nuget.cache
CookBook/CookBook.Infrastructures/obj/CookBook.Infrastructures.csproj.nuget.dgspec.json
CookBook/CookBook.Infrastructures/obj/CookBook.Infrastructures.csproj.nuget.g.props
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.AssemblyInfo.cs
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.AssemblyInfoInputs.cache
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.assets.cache
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.csproj.AssemblyReference.cache
CookBook/CookBook.Infrastructures/obj/Debug/net6.0/CookBook.Infrastructures.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook.Infrastructures/obj/project.assets.json
CookBook/CookBook.Infrastructures/obj/project.nuget.cache
CookBook/CookBook.UnitTests/obj/CookBook.UnitTests.csproj.nuget.dgspec.json
CookBook/CookBook.UnitTests/obj/CookBook.UnitTests.csproj.nuget.g.props
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.AssemblyInfo.cs
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.AssemblyInfoInputs.cache
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.assets.cache
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.csproj.AssemblyReference.cache
CookBook/CookBook.UnitTests/obj/Debug/net6.0/CookBook.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook.UnitTests/obj/project.assets.json
CookBook/CookBook.UnitTests/obj/project.nuget.cache
CookBook/CookBook/obj/CookBook.csproj.nuget.dgspec.json
CookBook/CookBook/obj/CookBook.csproj.nuget.g.props
CookBook/CookBook/obj/Debug/net6.0/apphost.exe
CookBook/CookBook/obj/Debug/net6.0/CookBook.AssemblyInfo.cs
CookBook/CookBook/obj/Debug/net6.0/CookBook.AssemblyInfoInputs.cache
CookBook/CookBook/obj/Debug/net6.0/CookBook.assets.cache
CookBook/CookBook/obj/Debug/net6.0/CookBook.csproj.AssemblyReference.cache
CookBook/CookBook/obj/Debug/net6.0/CookBook.GeneratedMSBuildEditorConfig.editorconfig
CookBook/CookBook/obj/project.assets.json
CookBook/CookBook/obj/project.nuget.cache
