@using CookBook.Areas.Admin.models
@model ChangeUserRoleForm

@{
    ViewBag.Title = "Role Controll";
}


<h2>@ViewBag.Title</h2>

<form asp-action="RoleControll" method="post">
    <div>
        <input asp-for="Username" value="UserName" />
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Roles"></label>
                <select asp-for="Roles" class="form-control">
                    <option value="0">None</option>
                    <option value="1">Admin</option>
                    <option value="2">Chef</option>
                    <option value="3">Member</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Change" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>