@{
    Layout = "_Health";
}

<div>
    <img src="https://i.pinimg.com/564x/b5/a0/39/b5a03918af5a531f5fa2c1de0a40f7b1.jpg" />
    <img src="https://i.pinimg.com/564x/70/53/eb/7053eb4a0c3adf67dadf1f3beac316e3.jpg" />
    <img src="https://i.pinimg.com/564x/11/bc/07/11bc076c2b97e5e20ec9fae599a57998.jpg" />
</div>