@model TempView
@{
    ViewBag.Title = "All Recepies";
}



<div>
    <div>
        <h3>@ViewBag.Title</h3>
    </div>

    <div>
        <form asp-action="All" method="post">

            <input id="submit-btn" class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="All" />
        </form>
    </div>
</div>
