@{
    ViewBag.Title = "Error";
}
<div class="text-center row justify-content-center">
    <h1 class="text-warning">@ViewBag.Error</h1>
    <h2 class="text-warning">@ViewBag.Messege</h2>
    <img class="w-25" src="~/img/ErrorIMG.png" />
    <div>
        <a class="btn btn-warning h4 w-25" asp-controller="Home" asp-action="Index">Go back to Home Page</a>
    </div>
</div>